.text-center{
    text-align:center;
}

.p-5{
    padding: 5px;
}

.m-5{
    margin: 5px;
}

.b-1{
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}

.removetypecls{
    margin: 6px;
    padding: 6px;
}

.removeimght{
    width: 12px;
    cursor: pointer;
}

.mt-5{
    margin-top: 5px;
}

.invalidspn{
    color: #ec6e62;
    font-size: 12px;
}

.btn-circle {
    width: 24px;
    height: 24px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 8px;
    border-color: #ce4133;
    background: #ec6e62;
    line-height: 1.42857;
}