.text-center{
    text-align:center;
}

.p-5{
    padding: 5px;
}

.m-5{
    margin: 2px;
}

label{
    margin-bottom:5px !important;
}

.b-1{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.removetypecls{
    margin: 6px;
    padding: 6px;
}

.removeimght{
    width: 12px;
    cursor: pointer;
}



.invalidspn{
    color: #ec6e62;
    font-size: 12px;
}

.btn-circle {
    width: 24px;
    height: 24px;
    padding: 4px 0px;
    border-radius: 15px;
    text-align: center;
    color: black;
    font-size: 9px;
    border: 2px solid #066190;
    background: #ffffff;
    line-height: 1.42857;
    &:hover {
        background: #53b1e2;
    }
    &:active {
        background: #53b1e2;
    }
}

